[Unit]
Description=k8s loadbalancer
Documentation=https://github.com/forbearing/k8s-loadbalancer
After=network.target nginx.service

[Service]
Type=simple
ExecStart=/usr/local/bin/k8s-loadbalancer.sh
ExecStop=/bin/kill -s HUP $MAINPID
RestartSec=5s
User=root

[Install]
WantedBy=multi-user.target
